extends layout

block content

  input#str_id(type="hidden",value=str_id)
  .container
    .row
      .col.h5 Aux String #{str_lbl} : 
        span#vaSum.ms-2.fw-bolder
        span.ms-1 volts 
        span#i_aux.ms-4.fw-bolder
        span.ms-1 amps
      
  .container

    .row.border.border-primary.strrow.ms-1()
      .col-2
        table.maxmin.table-bordered.caption-top.shadow
          caption= "Maximum Voltages"
          th Cell  
          th Volts

          - var row = 0
          while (row < 10)
            tr(id="vaMaxRow" + row)
              td(id="vaMaxKey" + row)
              td(id="vaMaxVal" + row) &nbsp;
              - row++
        table
          tr
            td High Volt Cells
            td#vaNumHigh
            td 

      .col-3
        table.maxmin.table-bordered.caption-top.ms-2.shadow
          caption= "Minimum Voltages"
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr(id="vaMinRow" + row)
              td(id="vaMinKey" + row)
              td(id="vaMinVal" + row) &nbsp;
              - row++
        table
          tr
            td Low Voltage Cells
            td#vaNumLow 
            td

      .col-7
        table.table-bordered.caption-top.traytbl.shadow(style="width:400px")
          caption Aux Cell Voltages
          - var cols = 10
          - var rows = 19
          - var row_cnt = 0
          - var cell_cnt = 0
          - var cells = 186
          while (row_cnt++ < rows)
            tr
              - var col_cnt = 0
              while (col_cnt++ < cols)
                if (cell_cnt++ < cells)
                  td.cfs(id="va" + cell_cnt, title="va" + cell_cnt) #{cell_cnt} 
                else
                  td
        include includes/spVoltsAux.pug

    .row.border.border-primary.strrow.ms-1.mt-2.shadow()
      .col-1
      .col-5
        .caption Aux Cell Temperatures °F
        table.table.table-bordered.caption-top.shadow
            tr.text-end
              td.cfs(id="aux_cell_temp_1", title="aux_cell_temp_1", width="40px")  1
              td.cfs(id="aux_cell_temp_2", title="aux_cell_temp_2", width="40px")  2
              td.cfs(id="aux_cell_temp_3", title="aux_cell_temp_3", width="40px")  3
              td.cfs(id="aux_cell_temp_4", title="aux_cell_temp_4", width="40px")  4
      .col-3.ms-4
        .caption Aux Ambient Temperatures °F
        table.mb-1.table.table-bordered.caption-top.shadow
            tr.text-end
              td.cfs(id="aux_amb_temp_1", title="aux_amb_temp_1", width="40px")  1
              td.cfs(id="aux_amb_temp_2", title="aux_amb_temp_2", width="40px")  2
    
    .row.border.border-primary.strrow.ms-1.mt-2.mb-4()
      .col-4
      .col-4
        .form-group(style="margin-top:10px; margin-bottom:10px;")
          //- button.spSubmit.btn.btn-primary.btn-sm() Set
          label() Aux Temperature Setpoint High
          input#spHighTempAux.spVal(size="2")
    .row
      .col
      .col
      .col

  script.
    $( document ).ready( () => {
      getSetPoints()

      data_xhr = get_aux_data
      data_xhr()
      
      //document.getElementById("aux").classList.add("active");
    })