extends layout

mixin chrg_tbl(prefx,caption)
  span.lead.font-weight-bold #{caption}
  - var tbl_cnt = 0
  while (tbl_cnt < chgrs)
    - var row_cnt = 0
    table.chg-tbl
      while (row_cnt < rows)
        tr
          - var col_cnt = 0
          - var col_start = row_cnt * innerLoopStep + tbl_cnt * outerLoopStep
          while (col_cnt < cols)
            - cell_id = col_start + col_cnt

            - subcell_id = cell_id % 70 + 1
            - subcell_id = (subcell_id>=10) ? subcell_id : "0" + subcell_id
            - tray_id = (Math.trunc(cell_id / 70) + 1)
            - id = prefx + 'Tray' + tray_id + '_' + subcell_id

            td(id=id, title=id) &nbsp;
            - col_cnt++
          - row_cnt++
    - tbl_cnt++

block content

  .container
    .row  
      .col-xs Charge Overview
      hr
  .container
    .row.border.gy-0.ms-1.strrow.border-primary()
      - var innerLoopStep = 70 
      - var outerLoopStep = 10 
      - var rows = 4
      - var cols = 10
      - var chgrs = 7
      - var chgNum = [1,2,3,4,5,6,7]
      .col-1.gx-2
        span.lead.font-weight-bold Charger
        each num in chgNum
          table.chg-tbl
            tr
              td.fw-bold.text-center(rowspan="4") C<br>H<br>G<br>#{num}
              td.text-end(id="Chg"+num+"Str1") #{num}
            tr
              td.text-end(id="Chg"+num+"Str2") #{num}
            tr
              td.text-end(id="Chg"+num+"Str3") #{num}
            tr
              td.text-end(id="Chg"+num+"Str4") #{num}
      .col.gx-2
        +chrg_tbl('v','Voltage')
      .col.gx-2
        +chrg_tbl('b','Balance')

  .container
    .row.border.border-primary.strrow.mb-4.ms-1.mt-1
      .col-7
        include includes/spVolts.pug
      .col-5
        include includes/spBalance.pug

  script.
    $( document ).ready( () => {
      getSetPoints()   

      data_xhr = get_chg_data
      data_xhr()

      document.getElementById("chg").classList.add("active");
    })