extends layout

block content

  .container
    .row  
      .col-xs Charge Overview
      hr
  .container
    .row.border.gy-0(style="background-color: #d0e4d0;")
      - var innerLoopStep = 70 
      - var outerLoopStep = 10 
      - var rows = 4
      - var cols = 10
      - var chgrs = 7
      - var tblContent = [{prefix:'v',caption:'Voltage',include:'sbVolts.jade'},{prefix:'b',caption:'Balance',include:'sbVolts.jade'}]
      - var chgNum = [1,2,3,4,5,6,7]
      .col-1.gx-2
        span.lead.font-weight-bold Charger
        each num in chgNum
          table.chg-tbl
            tr
              td.fw-bold.text-center(rowspan="4") C<br>H<br>G<br>#{num}
              td.text-end(id="Chg"+num+"Str1") #{num}
            tr
              td.text-end(id="Chg"+num+"Str2") #{num}
            tr
              td.text-end(id="Chg"+num+"Str3") #{num}
            tr
              td.text-end(id="Chg"+num+"Str4") #{num}
      each item in tblContent
        .col.gx-2
            - var cap = item['caption']
            - var prefix = item['prefix']
            span.lead.font-weight-bold #{cap}
            - var tbl_cnt = 0
            while (tbl_cnt < chgrs)
              - var row_cnt = 0
              table.chg-tbl
                while (row_cnt < rows)
                  tr
                    - var col_cnt = 0
                    - var col_start = row_cnt * innerLoopStep + tbl_cnt * outerLoopStep
                    while (col_cnt < cols)
                      - cell_id = col_start + col_cnt + 1
                      td(id=prefix + cell_id, title=prefix + cell_id) #{prefix}#{cell_id}
                      - col_cnt++
                    - row_cnt++
              - tbl_cnt++
  .container
    .row
      .col-2
      .col
        include includes/spVolts.jade
      .col
        include includes/spBalance.jade

  script.
    $( document ).ready( () => {
      getSetPoints()   

      data_xhr = get_chg_data
      data_xhr()

      document.getElementById("chg").classList.add("active");
    })