extends layout

block content
  .container
    section.row
      .col
        table.table(width="100%")
          tr
            th
            th Str 1
            th Str 2
            th Str 3
            th Str 4
            th Aux
          tr
            th Voltage     
            td#vSumStr0 
            td#vSumStr1 
            td#vSumStr2 
            td#vSumStr3 
            td#vSumAux
          tr
            th Current      
            td#i_str0 
            td#i_str1 
            td#i_str2 
            td#i_str3 
            td#i_aux  
    section.row
      .col-3 
        table.maxmin.table-bordered.caption-top()
          caption= "Low Voltages"
          th Tray 
          th Volts
          - var row = 0
          while (row < 10)
            tr
              td(id="vMinKey#{row}")
              td(id="vMinVal#{row}")
              - row++

        table.maxmin.table-bordered.caption-top()
          caption Maximum Temperature
          th Tray 
          th °F

          - var row = 0
          while (row < 10)
            tr
              td(id="tMaxKey#{row}")
              td(id="tMaxVal#{row}") 
              - row++
      .col
        table.table-bordered.w-100
          thead
            tr(style="text-align:center")
              th(style="width:170px;") Time
              th Msg 
          tbody#flt_alm

          table.w-100
            thead
              tr(style="text-align:right;")
                td() 
                  button#clearFaults.btn.btn-outline-primary.text-small(type="button",style="height:30px;margin-top:7px;") Clear

    section.row
      .col
        table
          tr
            th(style="font-strength:bold; font-size:1.2em") Setpoints
            th High 
            th Low 
          tr
            th Voltage
            td 
              input#spHighVolt.spVal(size="2")
            td 
              input#spLowVolt.spVal(size="2")
          tr
            th Impedance
            td 
              input#spHighTempsVolt.spVal(size="2")
            td 
          tr
            th Temperature
            td 
              input#spHighTempsVolt.spVal(size="2")
            td 
          tr
            th Current
            td 
              input#spHighCurr.spVal(size="2")
            td 


  script 
    $( document ).ready( () => {
      getSetPoints()   

      data_xhr = get_home_data
      data_xhr()
    })

  // style td,th {font-size:7px}
