extends layout

block content

  input#str_id(type="hidden",value="#{str_id}")
  .container
    .row  
      .col-xs String <span id="str_lbl">#{str_lbl}</span> Voltage <span id="vSum"></span> Voltage Ave <span id="vAve"></span>
      hr
  .container

    .row.border(style="background-color: #d0d4c0;")
      .col-2
        table.maxmin(class="table-bordered caption-top")
          caption= "Maximum Voltages"
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr
              td(id="VmaxTray#{row}")
              td 
                span(id="VmaxVal#{row}") 
                span  v
              - row++
        table.maxmin
          tr
            td High Voltage Trays
            td#numHighVolt 
            td 

      .col-3
        table.maxmin.table-bordered.caption-top()
          caption= "Minimum Voltages"
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr
              td(id="VminTray#{row}")
              td
                span(id="VminVal#{row}") 
                span  v
              - row++
        table.maxmin
          tr
            td Low Voltage Trays
            td#numLowVolt 
            td

      .col-7
        table(class="table-bordered caption-top traytbl", style="width:400px")
          caption Tray Voltages
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="v#{cell_cnt}", title="v#{cell_cnt}") &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        .form-group(style="margin-top:4px; margin-bottom:3px;")
          //- button.spSubmit.btn.btn-primary.btn-sm(type="submit") Set
          label() Voltage Setpoints High
          input#spHighVolt.spVal(size="2")
          label() Low
          input#spLowVolt.spVal(size="2")

    .row(style="margin-top:10px; background-color: #d0d4c0;")
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Maximum Temperature
          th Tray 
          th °F

          - var row = 0
          while (row < 10)
            tr
              td(id="TmaxTray#{row}")
              td 
                span(id="TmaxVal#{row}") 
                span  °F
              - row++
        table.maxmin
          tr
            td High Temp Trays
            td#numHighTemp 
            td

      .col-2
      .col-4
        table(class="table-bordered caption-top", style="width:400px")
          caption Tray Temperatures °F
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="t#{cell_cnt}") &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        .form-group(style="margin-top:4px; margin-bottom:3px;")
          //- button.spSubmit.btn.btn-primary.btn-sm() Set
          label() Temperature Setpoint High
          input#spHighTemp.spVal(size="2")
    .row
      .col
      .col
      .col
        table(class="table-bordered", style="width:400px")
          - var k = 1
          - var rows = start_cell + 7
          - var cols = 10
          while (start_cell++ < rows)
            tr
              - var j = 0
              while (j < cols)
                - cnt = j + k
                - j++
                td.cfs(id="b#{cnt}") v#{cnt}
              - k = k + j

  script.
    $( document ).ready( () => {
      getSetPoints()   
      get_str_data()
      document.getElementById("chg1").classList.add("active");
    })