extends layout

mixin snsr_tbl(title,snsrLst)
  - len = snsrLst.length
  table.table-bordered.caption-top.traytbl
    caption=title
    - row_lim = 7
    - col_lim = 10
    - row_cnt = 0
    while (row_cnt < row_lim)
      tr
        - col_cnt = 0
        while ( col_cnt < col_lim)
          - idx = row_cnt*col_lim + col_cnt
          td.cfs(id=snsrLst[idx] title=snsrLst[idx]) &nbsp;
          - col_cnt++
      -row_cnt++   

block content
  // List used in mixin 
  - voltsLst = volts.split(',')
  - tempLst = temperature.split(',')
  - balanceLst = balance.split(',')
  - impedanceLst = impedance.split(',')

  input#str_id(type="hidden",value=str_id)
  .container
    .row  
      .col.h5 String #{str_lbl} : 
        span#vSum.ms-2.fw-bolder
        span.ms-1 volts 
        span.ms-4.fw-bolder(id="i_str" + str_id)
        span.ms-1 amps
  .container

    .row.border.border-primary.strrow.ms-1.shadow()
      .col-2
        table.maxmin.table-bordered.caption-top
          caption Max Voltages
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr(id="vMaxRow" + row)
              td(id="vMaxTray" + row)
              td(id="vMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Volt Trays
            td#vNumHigh 
            td 

      .col-3
        table.maxmin.table-bordered.caption-top.ms-2()
          caption Min Voltages
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr(id="vMinRow" + row)
              td(id="vMinTray" + row )
              td(id="vMinVal" + row)
              - row++
        table.maxminnum
          tr
            td Low Volt Trays
            td#vNumLow 
            td

      .col-7
        +snsr_tbl('Tray Voltage',voltsLst)

        include includes/spVolts.pug
    .row.border.border-primary.strrow.mt-3.ms-1.shadow()
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Max Temperature
          th Tray 
          th °F

          - var row = 0
          while (row < 10)
            tr(id="tMaxRow" + row)
              td(id="tMaxTray" + row)
              td(id="tMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Temp Trays
            td#tNumHigh 
            td
      .col-2
      .col-4
        +snsr_tbl('Tray Temps',tempLst)
        include includes/spTemp.pug
    .row.border.border-primary.strrow.mt-3.ms-1.shadow()
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Max Balance 
          th Tray
          th %
          - var row = 0
          while (row < 10)
            tr(id="bMaxRow" + row)
              td(id="bMaxTray" + row)
              td(id="bMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Balance Trays
            td#bNumHigh 
            td
      .col-2
      .col-4
        +snsr_tbl('Tray Balance',balanceLst)
        include includes/spBalance.pug
    .row.border.border-primary.strrow.my-3.ms-1.shadow()
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Max Impedance
          th Tray
          th mOhm
          - var row = 0
          while (row < 10)
            tr(id="rMaxRow" + row)
              td(id="rMaxTray" + row)
              td(id="rMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Impedance Trays
            td#rNumHigh 
          
      .col-2
      .col-4
        +snsr_tbl('Tray Impedance',impedanceLst)
        include includes/spImpedance.pug

  script.

    $( document ).ready( () => {

      getSetPoints()   
      
      data_xhr = get_str_data
      data_xhr()

      //document.getElementById("str").classList.add("active");
    })