extends layout

block content
  .container
    .row
      .col-5
        h5 BEMS Processes
        table.table-bordered(style="margin-bottom:20px;width:100%;")
          tr
            th Cmd
            th PID 
            th MEM
            th CPU%
            th Control
          each obj, key in cmdObj
            tr(id=key)
              td(id=key + "_lbl")= obj['lbl']
              td.text-center(id=key + "_pid")= obj['pid']
              td.text-center(id=key + "_mem")= obj['mem']
              td.text-center(id=key + "_cpu")= obj['cpu']
              td.text-center
                button.procSubmit.btn.btn-primary.btn-sm(id=key + "_btn" type="submit")  START 

        h5 Halt DCM 
        table.table-bordered(style="width:100%;")
          tr
            th DCM
            th Status
            th Halt
          tr
            td ENV #{envHost}
            td#envHost.text-center
            td.text-center
              button.procSubmit.btn.btn-primary.btn-sm(type="submit" style="margin:2px;" id="halt_env") Halt
          tr
            td AUX #{auxHost}
            td#auxHost.text-center
            td.text-center 
              button.procSubmit.btn.btn-primary.btn-sm(type="submit" style="margin:2px;" id="halt_aux") Halt
      .col-7
        h4 Top
        pre
          #topBr
        hr
        h4 Disk Free
        pre
          #dfBr

        
    .row
      .col
        hr
        h4 Log
        pre
          #logBr
  
  style.
    

  script.
    $( document ).ready( () => {

      data_xhr = get_sys_data
      data_xhr()

      let el = document.getElementById("sys")
      if (el != null) el.classList.add("active")
    })