extends layout

block content
  .container
    .row
      .col-4

        h4 Sys 

        table.table-bordered
          tr
            th Cmd
            th PID 
            th MEM%
            th CPU%
            th Control
          each obj, key in cmdObj
            tr(id="#{key}")
              td(id="#{key}_lbl")= obj['lbl']
              td(id="#{key}_pid")= obj['pid']
              td(id="#{key}_mem")= obj['mem']
              td(id="#{key}_cpu")= obj['cpu']
              td
                button.procSubmit.btn.btn-primary.btn-sm(id="#{key}_btn", type="submit")  START
      .col
        h4 Top
        pre
          #topBr
        hr
        h4 Disk Free
        pre
          #dfBr

        
    .row
      .col
        hr
        h4 Log
        pre
          #logBr


  script.
    $( document ).ready( () => {

      data_xhr = get_sys_data
      data_xhr()

      let el = document.getElementById("sys")
      if (el != null) el.classList.add("active")
    })